<section class="bg-warning text-white py-5 mb-5">
  <div class="container text-center">
    <h1>VOCABULARY LIBRARY</h1>
    <p class="lead">Starting points for finding information on learning English as a second language.</p>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <table class="table table-stripe text-center">
        <thead class="thead-dark">
          <tr>
            <th>Vocabulary</th>
            <th>User</th>
            <th>Detail Vocabulary</th>
            <% if (current_user) %>
            <th>Edit Vocabulary</th>
            <th>Delete Vocabulary</th>
          </tr>
          <% end %>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= post.vocabulary %></td>
            <td><%= post.user.username_def %></td>
            <td><%= link_to 'Show', admin_post_path(post),:class => "btn btn-info mr-2" %></td>
            <% if current_user && current_user.admin %>
            <td><%= link_to 'Edit', edit_admin_post_path(post),:class => "btn btn-warning mr-2" %></td>
            <td>
              <%= link_to 'Delete', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger mr-2" %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ---------- -->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <% if current_user %>
      <%= link_to 'New Post', new_admin_post_path, :class => "btn btn-primary mr-2" %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete,:class => "btn btn-danger mr-2" %>
      <% else %>
      <%= link_to 'Sign In', new_user_session_path,:class => "btn btn-primary mr-2" %>
      <%= link_to 'Sign Up', new_user_registration_path,:class => "btn btn-warning mr-2" %>
      <% end %>
    </div>
  </div>
</div>